@import "variables";

.heading {
  font-size: @large;
  font-weight: @heavy;
  text-transform: uppercase;
}

.span {
  font-size: @large;
  color: @red;
  font-weight: @heavy;
  text-transform: uppercase;
}

.copy {
  font-size: @small;
  font-weight: @light;
}

.links {
  font-size: @medium;
  font-weight: @heavy;
  color: @black2;
}

.buttons {
  font-size: @medium;
  font-weight: @heavy;
  background-color: @yellow;
  color: @black2;
  text-transform: uppercase;
  border-radius: 8px;
  border-color: @yellow;
  padding: 1rem 1.5rem;
}
